body{
    background-color: RGB(12, 20, 36);
    color: white;
     
    margin: 20px;
    font-family:'Rubik', sans-serif;
}


.jeremy
{
    background-color: rgb(87, 70, 234, 255);
    width: 260px;
    height: 400px;
    position:absolute;
    left: 220px;
    top: 165px;
    border-radius: 15px;
    z-index: 2;

}

.jeremy img{
    border: 5px  solid white;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
}

.jeremy p{
    margin-left:30px;
    margin-top: 50px;
    position: absolute;
    top: 120px;
}

.jeremy h1{
    margin-left:30px;
    font-weight: 100px;
    font-weight: 300;
    position: absolute;
    top: 170px;

}

.daily{
    width: 12px; 
    position: absolute;
    left: 218px;
    top:530px;
    border-radius: 15px;
    z-index: 1;
    padding-top: 25px;

}

.daily p{
    margin-left: 30px;
    margin-top: 30px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 900px;
    position: absolute;
    left: 500px;
    top: 130px;
    position:relative;

}
.dappa{
    position: relative;
    

}
.dappa1{
    background-color: #ff8B64;
    display: flex;
    justify-content: flex-end;
    height: 150px;
    width: 250px;
    border-radius: 20px;
    margin-left: 30px;
}

.dappa1 img{
    width: 60px;
    height: 50px;

}
     

.dappa2{
    background-color: #1D204B;
    border-radius: 20px;
    height: 200px;
    width: 250px;
    margin-left: 30px;
    position: absolute;
     
    top:45px;
}

.dappa2 img{
    position: absolute;
    top:27px;
}

.dappa2 h3{
    margin-left: 40px;
}

.dappa2 h1{
    margin-left: 40px;

}

.dappa2 p{
    margin-left: 40px;
}

.daily{
    background-color: #1D204B;
    height: 100px;
    width: 200px;
}

#work{
    margin-left:200px;
    margin-top: 0px;
}
.dappa2 h1{
    font-size: 38px;
    font-weight: 300;
}
.day{
    color:  hsl(235, 45%, 61%);
 }